*{
    background-color: blue;
}
#arreglo{
 font-size: 50px;
 text-align: center;

}
div{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
table{
    background-color: cyan;
    text-align: center;
    
}
